{% extends "base.html" %}

{% load staticfiles %}

{% load pagination_tags %}

{% block body_block %}
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-table-master/src/bootstrap-table.css' %}">
        <script type="text/javascript" src="{% static 'bootstrap/bootstrap-table-master/src/bootstrap-table.js'%}"></script>
    </head>

  <div class="container theme-showcase" role="main">
    <div class="jumbotron" style="background-color: #FF8000">
      <h1><strong>Fan Tuan</strong></h1>
      <p>This is an amazing Yue Fan app inside Synopsys. Just <strong>Yue</strong> it!!</p>
    </div>
    <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="active item"><center><img src="{% static 'pic/1.jpg' %}" atl=""></center></div>
        <div class="item"><center><img src="{% static 'pic/2.jpg' %}" atl=""></center></div>
        <div class="item"><center><img src="{% static 'pic/3.jpg' %}" atl=""></center></div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>

  <div class="alert {{alert_type}}" role="alert">
    <strong>{{warning1}}</strong> {{warning2}}
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title"><strong> Read</strong> existing Tuans </h4>
        </div>
      </div>
    </div>

    <div style="padding-left: 15px; padding-right: 15px">
      <table class="table table-striped" class="table table-striped" data-toggle="table" data-sort-name="date" data-sort-order="desc" data-query-params="queryParams" data-pagination="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true">
      <thead>
        <tr>
          <th data-sortable="true" data-field="initiator"> initiator </th>
          <th data-sortable="true" data-field="resturant_name"> resturant name </th>
          <th data-sortable="true" data-field="min_participants"> min participants </th>     
          <th data-sortable="true" data-field="max_participants"> max participants </th>     
          <th data-sortable="true" data-field="current_participants"> crrent participants </th>     
          <th data-sortable="true" data-field="date"> date </th>
          <th data-sortable="true" data-field="progress"> progress </th>
          <th> detail </th>
          <th> action </th>
        </tr>
      </thead>
        {% autopaginate tuan_list 5 %}
        {% for tuan in tuan_list %}
        <form action='vote' method='POST'>
          {% csrf_token %}
          <tr>
            <td> {{tuan.initiator}}</td>
            <td> {{tuan.rest_name}}</td>
            <td> {{tuan.min_num}}</td>
            <td> {{tuan.max_num}}</td>
            <td> {{tuan.current_num}}</td>
            <td> {{tuan.start_time}}</td>
            <td>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60"
                    aria-valuemin="0" aria-valuemax="100" style="width:{% widthratio tuan.current_num tuan.max_num 100 %}%"></div>
              </div>
            </td>
            <td><a href="{% url 'detail' tuan.id %}"> detail </a></td>
            <td><input type='submit' value='join'><input type='text' name='vote_id' value='{{tuan.id}}' style="display: none;"></td>
          </tr>
        </form>
        {% endfor %}
      </table>
      {% paginate %}
    </div>
  </div>
</div>
{% endblock %}
