{% extends "base.html" %}

{% load staticfiles %}

{% load pagination_tags %}

{% block body_block %}

<div class="container theme-showcase" role="main">
    {% if login_err %}
        <div class="alert alert-danger">{{login_err}}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title"> Login Page </h4>
                </div>
            </div>

            <form action='/acc_login/' method = 'POST'>{% csrf_token %}
                <p>Username: <input style="height:25px" type = 'text' name = 'username' required/></p>
                <br>
                <p>Password: <input style="height:25px" type = 'password' name ='password' required/></p>
                <br>
                <input type = 'submit' value ='Login' />

                <!--<span style = 'color: red' >{{login_err}} </span>-->
            </form>
        </div>
    </div>
</div>
{% endblock %}
