{% extends "base.html" %}

{% load staticfiles %}

{% load pagination_tags %}

{% block body_block %}

<div class="container theme-showcase" role="main">

  <div class="alert {{alert_type}}" role="alert">
    <strong>{{warning1}}</strong> {{warning2}}
  </div>

  <hr />

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title"> Your <strong>created Tuan</strong> list </h4>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="padding-left: 15px; padding-right: 15px">
      <table class="table table-striped">
        <tr>
          <th> initiator </th>
          <th> resturant name </th>
          <th> min participants </th>
          <th> max participants </th> 
          <th> crrent participants </th>							
          <th> joined ids </th>
          <th> start at </th>
          <th> progress </th>
        </tr>
        {% autopaginate tuan_list 3 %}
        {% for tuan in tuan_list %}
        {% csrf_token %} 
        <tr>
          <td> {{tuan.init}}</td>
          <td> {{tuan.rest_name}}</td>
          <td> {{tuan.min_num}}</td>
          <td> {{tuan.max_num}}</td>
          <td> {{tuan.crt_num}}</td>
          <td> {% for id in tuan.joind_id.all|slice:":2" %} {{id}} {% endfor %}
            {% if tuan.joind_id.all.2 %} and <a href="{% url 'detail' tuan.id %}"> more </a> {% endif %}
            <td> {{tuan.start_time}}</td>
            <td> 
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                    aria-valuemax="100" style="width:{% widthratio tuan.current_num tuan.max_num 100 %}%"></div>
              </div>
            </td>
        </tr>
        {% endfor %}
      </table>
      {% paginate %}
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title"> Your <strong>joined Tuan</strong> list </h4>
        </div>
      </div>
    </div>
    <div style="padding-left: 15px; padding-right: 15px">
      <table class="table table-striped">
        <tr>
          <th> initiator </th>
          <th> resturant name </th>
          <th> min participants </th>
          <th> max participants </th> 
          <th> crrent participants </th>                          
          <th> joined ids </th>
          <th> start at </th>
          <th> progress </th>
        </tr>
        {% autopaginate joined_tuan_list 5 %}
        {% for tuan in joined_tuan_list %}
        {% csrf_token %} 
        <tr>
          <td> {{ tuan.init }}</td>
          <td> {{ tuan.rest_name }}</td>
          <td> {{ tuan.min_num }}</td>
          <td> {{ tuan.max_num }}</td>
          <td> {{ tuan.crt_num }}</td>
          <td> {% for id in tuan.joind_id.all|slice:":2" %} {{ id }} {% endfor %}
            {% if tuan.joind_id.all.2 %} and <a href="{% url 'detail' tuan.id %}"> more </a> {% endif %}
            <td> {{ tuan.start_time }}</td>
            <td> 
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                    aria-valuemax="100" style="width:{% widthratio tuan.current_num tuan.max_num 100 %}%"></div>
              </div>
            </td>
        </tr>
        {% endfor %}
      </table>
      {% paginate %}
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title"> <strong> Update</strong> an exist Tuan </h4>
        </div>
      </div>
      <form action = 'update' method='POST'> 
        {% csrf_token %}
        <table class="table ">
          <tr>
            <td> tuan to update: </td>
            <td>
              <select name='upd_id'>
                {% for tuan in tuan_list %}
                  <option value="{{tuan.id}}"> {{tuan.start_time}} {{tuan.rest_name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td> rest_name </td>
            <td> <input type = 'text' name = 'upd_rest_name'></td>
          </tr>
          <tr>
            <td> max_num </td>
            <td> <input type = 'text' name = 'upd_max_num'></td>
          </tr>
          <tr>
            <td> start_time </td>
            <td><input style="width:25%;height:25px;" class="form_datetime" size="16" type="text" value="" readonly name= "upd_start_time">
          </tr>
          <tr>
            <td> <input type = 'submit' value = 'update'></td>
          </tr>
        </table>
      </form>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">			
          <h4 class="panel-title"> <strong> Delete</strong> an exist Tuan </h4>
        </div>
      </div>
      <form action = 'delete_tuan/' method='POST'> 
        {% csrf_token %}
        <table class="table ">
          <tr>
            <td> tuan to delete: </td>
            <td>
              <select id='del_id' name='del_id'>
                {% for tuan in tuan_list %}
                <option value="{{tuan.id}}" name='upd_id'> {{tuan.start_time}} {{tuan.rest_name}} </option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td> <input type = 'submit' value = 'delete'></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>

<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/locales/bootstrap-datetimepicker.fr.js' %}" charset="UTF-8"></script>
<script type="text/javascript">
  $('.form_datetime').datetimepicker({
    //language:  'fr',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
    showMeridian: 1,
    minuteStep: 10,
  });
</script>

{% endblock %}
