{% extends "base.html" %}

{% load staticfiles %}

{% load pagination_tags %}

{% block body_block %}
<div class="container theme-showcase" role="main">
    {% if errors %}
        <div class="alert alert-danger">{{errors}}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title"> Register Page </h4>
                </div>
            </div>

            <form method="POST" action = '/register_create/'>{% csrf_token %}
                <p>Username: <input style="height:25px" type = 'text' name = 'username' required></input></p>
                <br>
                <p>Password: <input style="height:25px" type = 'password' name ='password1' required/></p>
                <br>
                <p>Password Again: <input style="height:25px" type = 'password' name ='password2' required/></p>
                <br>
                <p>Email: <input style="height:25px" type = 'email' name='email' required/></p>
                <br>
                <input type ='submit' value='submit' />
                <br>
                <br>
                <input type = 'reset'  value = 'reset' />
                <!--<span style = 'color: red' >{{errors}} </span>-->
            </form>
        </div>
    </div>
</div>
{% endblock %}
